.hero-section {
    background-image: url('../../assets/images/100\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Dark overlay */
    z-index: 2;
    filter: blur(0px); /* No blur on the overlay itself */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  }
  
